<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/9f836025b8.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>Luis G Mejia</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
  </head>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
          <h1 class="header center white-text text-lighten-2">Luis G. Mejia</h1>
          <h3 class="header center white-text text-lighten-2">Full Stack Developer </h3>
          <div class="row center">
            <h5 class="header col s12 white-text text-lighten-2">Based in South Florida and Available for
            <br> Jr. Dev, Telecommute, and Freelance Assignments.</h5>
          </div>
          <div class="row center">
            <a href="mailto:lgm1213@gmailcom" class="btn-large waves-effect waves-light amber darken-3 download-button"><i class="material-icons">email</i>  Contact</a>
            <a class="modal-trigger btn-large btn-large waves-effect waves-light amber darken-3 download-button" href="#modal1"><i class="material-icons">perm_identity</i>  Resume</a>
           <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content" id="res-modal">
              <iframe src="https://docs.google.com/document/d/1jSAg5NaAC-bW8U_grceJBiz2ARwH7saMeVOggald0_c/pub?embedded=true" style="width:100%; height: 100%;" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
              <a href="pdfs/LGM2resume.pdf" download class="modal-action modal-close waves-effect waves btn-flat ">Download</a>
            </div>
          </div> 
        </div>
        <div class="row center">
          <a href="https://codelearngetbetter.tumblr.com" class="btn-large waves-effect waves-light amber darken-3 download-button" target="_blank"><i class="material-icons">speaker_notes</i>  Blog</a>
          <a href="https://github.com/lgm1213" class="btn-large waves-effect waves-light amber darken-3 download-button" target="_blank"><i class="material-icons">new_releases</i>  Projects</a>  
        </div>
      </div>
      <br><br>
    </div>
    <div class="parallax"><img src="miami5res.jpg" alt="Unsplashed background img 1"></div>
  </div>
   <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>
            <p class="light">I believe in an Agile methodology and Lean practices. </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>
            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>
            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
         <div class="carousel carousel-slider">

            <a class="carousel-item" href="https://github.com/lgm1213/launchpad" target="_blank"><img src="launchpadres.png" class="img-responsive"></a>
            <a class="carousel-item" href="https://github.com/lgm1213/lit2" target="_blank"><img src="LitPortres.png" class="img-responsive"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="miami1res.jpg" alt="Unsplashed background img 2"></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="miami6res.jpg" alt="Unsplashed background img 3"></div>
  </div>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Me</h5>
          <p class="grey-text text-lighten-4"> Born and Raised in Miami, Fl with a unique perspective. I like to solve problems and create cool projects, so I joined Wyncode to learn the skills needed to make my ideas into realities. I enjoy freethinking and am a advocate of efficacy over procedures by cutting through the mental red tape. If there is a more direct route that we can take, I will lead the way. Don't be affraid to say hello and shot me an email :)</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/lgm1213"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/luis-mejia-6128039b"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/luis.g.mejia"><i class="fa fa-facebook-official" aria-hidden="true"></i> FaceBook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/thelastmejia"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>
</body>
</html>