<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/9f836025b8.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/resume.css">
    <title>Luis G Mejia</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/jquery.js"></script>

  
  </head>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
          <h1 class="header center white-text text-lighten-2">Luis G. Mejia</h1>
          <h3 class="header center white-text text-lighten-2">Full Stack Developer </h3>
          <div class="row center">
            <h5 class="header col s12 white-text text-lighten-2">Based in South Florida and Available for
            <br> Jr. Dev, Telecommute, and Freelance Assignments.</h5>
          </div>
          <div class="row center">
            <a href="mailto:lgm1213@gmailcom" class="btn-large waves-effect waves-light amber darken-3 download-button"><i class="material-icons">email</i>  Contact</a>
            <a class="modal-trigger btn-large btn-large waves-effect waves-light amber darken-3 download-button" href="#modal1"><i class="material-icons">perm_identity</i>  Resume</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
              <div class="modal-content" id="res-modal">
                <p class="c8 c12">
            <span class="c9 c4 c11"></span>
        </p>
        <p class="c7 title">
            <span class="c19 c4 c17 c25">Luis G. Mejia</span>
        </p>
        <p class="c8 c12">
            <span class="c6 c4"></span>
        </p>
        <p class="c8 c13">
            <span class="c4">2850 SW 103 Ave </span>
            <span class="c4 c17">Miami, Florida 3</span>
            <span class="c4">3165 </span>
        </p>
        <p class="c8 c13">
            <span class="c4 c17">305-</span>
            <span class="c4">438-8516</span>
            <span class="c4 c17">&nbsp;| </span>
            <span class="c19 c4 c17 c23">
                <a class="c14" href="mailto:lgm1213@gmail.com">lgm1213@gmail.com</a>
            </span>
            <span class="c9 c4">&nbsp;| github.com/lgm1213 |</span>
            <span class="c4">&nbsp;linkedin.com/in/luis-mejia-6128039b</span>
        </p>
        <p class="c1 c12 title">
            <span class="c2"></span>
        </p>
        <p class="c1 title">
            <span class="c2 c17 c19">Sales and Business Development &nbsp;&bull;&nbsp;Strategic Planning and Leadership</span>
            <span class="c2">&nbsp;&bull;&nbsp;</span>
            <span class="c2 c19 c17">Timely Execution &nbsp;&bull;&nbsp;Consultative Management &nbsp;&bull;&nbsp;Performance Management</span>
            <span class="c2">&nbsp;&bull;</span>
            <span class="c2 c19 c17">Problem Solving &nbsp;&bull;&nbsp;Decision Making</span>
            <span class="c2">&nbsp;&bull;</span>
            <span class="c2 c19 c17">Key Account Management &nbsp;&bull;&nbsp;Fluent in English and Spanish </span>
            <span class="c2">&bull;Internet Programming Languages (Html, CSS, JavaScript, Ruby, SQL)</span>
        </p>
        <p class="c1 c12 title">
            <span class="c4 c11"></span>
        </p>
        <p class="c8">
            <span class="c15 c4">AvMed Healthplans Inc.</span>
            <span class="c4 c18">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c15 c4">August 2013 to October 2016</span>
        </p>
        <p class="c8">
            <span class="c4 c18">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c15 c4">Level 4 Member Services Associate </span>
        </p>
        <ul class="c10 lst-kix_list_16-0 start">
            <li class="c8 c21">
                <span class="c4 c11">Addressed all service issues for Members and Network Providers according to contractual obligations</span>
            </li>
            <li class="c8 c21">
                <span class="c4 c11">Served as the liaison between AvMed, Network Providers, and all Members.</span>
            </li>
            <li class="c8 c21">
                <span class="c4 c11">Followed all HIPPA Guidelines and regulations</span>
            </li>
            <li class="c8 c21">
                <span class="c4 c11">Responsible for servicing the company &rsquo;s top employer groups</span>
            </li>
        </ul>
        <p class="c8 c12">
            <span class="c9 c4 c11"></span>
        </p>
        <p class="c8">
            <span class="c5 c4">First Payment Systems Inc.</span>
            <span class="c16 c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c5 c4">April 2010 to </span>
            <span class="c15 c4">August 2013</span>
        </p>
        <p class="c8">
            <span class="c16 c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c5 c4">Operations Division Coordinator</span>
        </p>
        <ul class="c10 lst-kix_list_16-0">
            <li class="c8 c21">
                <span class="c6 c4">Processed </span>
                <span class="c4 c11">and verified merchant applications ensuring they met financial requirements</span>
                <span class="c6 c4">.</span>
            </li>
            <li class="c8 c21">
                <span class="c4 c11">Served</span>
                <span class="c6 c4">&nbsp;as</span>
                <span class="c4 c11">&nbsp;the</span>
                <span class="c6 c4">&nbsp;liaison between</span>
                <span class="c4 c11">&nbsp;Chase </span>
                <span class="c6 c4">Paymentech, First Data Merchant Services and First Payment Systems Inc.</span>
            </li>
            <li class="c8 c21">
                <span class="c6 c4">Verified </span>
                <span class="c4 c11">Merchant financial data according to </span>
                <span class="c6 c4">FirstData</span>
                <span class="c4 c11">, </span>
                <span class="c6 c4">Visa, </span>
                <span class="c4 c11">Mastercard</span>
                <span class="c6 c4">, Discover and American Express </span>
                <span class="c4 c11">guidelines</span>
                <span class="c6 c4">.</span>
            </li>
            <li class="c8 c21">
                <span class="c6 c4">Responsible for servicing the </span>
                <span class="c4 c11">company &rsquo;s</span>
                <span class="c6 c4">&nbsp;top 10 clients.</span>
            </li>
        </ul>
        <p class="c8 c12 c26">
            <span class="c9 c4 c11"></span>
        </p>
        <p class="c8">
            <span class="c5 c4">American Check Management</span>
            <span class="c15 c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c5 c4">Augus</span>
            <span class="c4 c15">t </span>
            <span class="c5 c4">2009 to April 2010</span>
        </p>
        <p class="c8">
            <span class="c4 c16">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c5 c4">Bad Check Division Account Coordinator</span>
        </p>
        <ul class="c10 lst-kix_list_17-0 start">
            <li class="c8 c21">
                <span class="c6 c4">Validated financial claims</span>
                <span class="c4 c11">&nbsp;for accuracy and ensured term conditions were followed</span>
            </li>
            <li class="c8 c21">
                <span class="c4 c11">Maintained demographic profile database of clients </span>
            </li>
            <li class="c8 c21">
                <span class="c4 c11">Served as a full service &nbsp;p</span>
                <span class="c6 c4">oint of contact for </span>
                <span class="c4 c11">all communication and service issues with clients</span>
            </li>
        </ul>
        <p class="c8 c12">
            <span class="c9 c4 c11"></span>
        </p>
        <p class="c8">
            <span class="c5 c4">DCI Biological</span>
            <span class="c4 c18">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c5 c4">March 2008</span>
            <span class="c15 c4">&nbsp;to </span>
            <span class="c5 c4">February 2009</span>
        </p>
        <p class="c8">
            <span class="c16 c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c5 c4">Admissions Coordinator</span>
        </p>
        <ul class="c10 lst-kix_list_18-0 start">
            <li class="c8 c21">
                <span class="c6 c4">Administered</span>
                <span class="c4 c11">&nbsp;and processed </span>
                <span class="c6 c4">all </span>
                <span class="c4 c11">donors and patient testing </span>
                <span class="c6 c4">&nbsp;</span>
                <span class="c4 c11">according to OHSA guidelines</span>
            </li>
            <li class="c8 c21">
                <span class="c6 c4">Maintained and documented all donor record</span>
                <span class="c4 c11">s according to HIPAA guidelines</span>
            </li>
        </ul>
        <p class="c8 c12">
            <span class="c9 c4 c11"></span>
        </p>
        <p class="c8">
            <span class="c5 c4">The Home Depot Customer Contact Cente</span>
            <span class="c15 c4">r &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c5 c4">May 2003 to August 2006</span>
        </p>
        <p class="c8 c22">
            <span class="c5 c4">Front End Manager</span>
        </p>
        <ul class="c10 lst-kix_list_19-0 start">
            <li class="c0">
                <span class="c6 c4">Acted as </span>
                <span class="c4 c11">the</span>
                <span class="c6 c4">&nbsp;liaison between the Customer, Company and Vendor for special installation projects</span>
            </li>
            <li class="c0">
                <span class="c6 c4">Created estimates and quotes on installation requests for high value clients &nbsp;&nbsp;</span>
            </li>
            <li class="c0">
                <span class="c6 c4">Mediated critical service issues for customers and vendors regarding issues on projects.</span>
            </li>
            <li class="c0">
                <span class="c4 c6">Managed 50 employees</span>
            </li>
        </ul>
        <p class="c8 c12 c13">
            <span class="c9 c4 c11"></span>
        </p>
        <p class="c8 c12">
            <span class="c9 c4 c11"></span>
        </p>
        <p class="c8 c13 c24">
            <span class="c4 c5">EDUCATION</span>
        </p>
        <p class="c8">
            <span class="c4">WynCode, Miami, FL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;December 2016</span>
        </p>
        <p class="c8 c12">
            <span class="c4"></span>
        </p>
        <p class="c8">
            <span class="c4">F</span>
            <span class="c4 c17">lorida International University, Miami, FL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="c4">December</span>
            <span class="c4 c17">&nbsp;2012</span>
        </p>
        <p class="c8">
            <span class="c4 c17">Bachelors </span>
            <span class="c4">In Arts: </span>
            <span class="c4 c17">Political Science </span>
        </p>
        <p class="c8 c12">
            <span class="c9 c4"></span>
        </p>
        <p class="c8">
            <span class="c4 c17">University of South Florida, Tampa, FL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;April 2009</span>
        </p>
        <p class="c8">
            <span class="c4 c17">Bachelors in Arts</span>
            <span class="c4">: </span>
            <span class="c4 c17">Biology and Religious Studies</span>
        </p>
        <p class="c8 c12">
            <span class="c9 c4 c11"></span>
        </p>
              </div>
              <div class="modal-footer">
                <a href="pdfs/LGM2resume.pdf" download class="modal-action modal-close waves-effect waves btn-flat ">Download</a>
              </div>
            </div>
          </div>
      </div>
      <br><br>
    </div>
    <div class="parallax"><img src="miami5res.jpg" alt="Unsplashed background img 1"></div>
  </div>
  
    <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">I believe in an Agile methodology and Lean practices. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="miami1res.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="miami6res.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Me</h5>
          <p class="grey-text text-lighten-4"> Born and Raised in Miami, Fl with a unique perspective. I like to solve problems and create cool projects, so I joined Wyncode to learn the skills needed to make my ideas into realities. I enjoy freethinking and am a advocate of efficacy over procedures by cutting through the mental red tape. If there is a more direct route that we can take, I will lead the way. Don't be affraid to say hello and shot me an email :)</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/lgm1213"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/luis-mejia-6128039b"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/luis.g.mejia"><i class="fa fa-facebook-official" aria-hidden="true"></i> FaceBook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/thelastmejia"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>
</body>
</html>